h1{
    background-image: linear-gradient(red,black);
    padding: 20px;
    margin: 20px;
    color: white;
    text-align: center;
    border:solid 3px rgb(106, 146, 207);


    }
    .mover{
        background-color: blueviolet;
        text-align: center;
        border: 3px solid black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 30px;
        width: 500px;
        padding: 20px;


    }
    #t1{
        transition: height 2,7s;
    }
    #t1:hover{
        height: 100px;
    }
    #t2{
        transition: height 2s , width 0,5s;
    }
    #t2:active{
        height: 30px;
        width: 300px;

    }
    #t3{
        transition: all 2s;
    }
    #t3:hover{
        height:100px ;
        width:500px ;

    }
    h2{
        background-color: aqua;
        color: black;
        text-align: center;
        
    }
    
  
    







